<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Selenium.WebDriver" version="4.1.0" targetFramework="net46" />
  <package id="Selenium.WebDriver.ChromeDriver" version="100.0.4896.6000" targetFramework="net46" />
  <package id="Selenium.WebDriver.GeckoDriver" version="0.31.0" targetFramework="net46" />
</packages>